@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1">
                <h1 class="jumbotron-heading">Hi, I'm Nirav Sheth 👋</h1>
                <p class="lead text-muted">
                    I will be updating this website which was personally built by me in C# and ASP.NET. 
                    Please go to the Projects tab to see what I've been working on. I currently have a collection of projects on my <a href='https://github.com/nervster'>GitHub</a> to see other projects that I have worked on.
                </p>
                <a href="mailto:npsheth93@live.com" class="btn btn-primary my-2">Email Me!</a>
                <a href="/assets/resume.pdf" class="btn btn-success border" download="nirav_sheth_resume.pdf">Resume</a>
            </div>
            <div class="col-md-6 order-md-2">
                <img src="/images/profile_image.jpg" class="img-thumbnail rounded float-end" alt="Nirav Sheth Profile Picture"/>  
            </div>
        </div>
    </div>
</section>


