@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5">
    <div class="text-center">
        <img src="/images/profile_image.jpg" alt="Profile Picture" class="profile-img" width="200">
        <h2 class="mt-3">Nirav Sheth</h2>
        <p class="lead">Greetings! I'm Nirav Sheth, a passionate and seasoned Software Engineer with a zest for life both inside and outside the tech world.
        Let me take you on a journey through my experiences, interests, and the things that bring joy to my life.</p>
    </div>

    <p>

    </p>

    <h2>Professional Journey</h2>
    <p>
        My journey began at the University of Houston, where I pursued a Bachelor's degree in Finance and Accounting.
        I always enjoyed numbers and became passionate in the energy transition to sustainable sources. This curiosity led me to Shell and Engie, where I learned that the transition is a lot trickier than anyone can imagine.
        During my time at Shell and Engie, I became a data nerd and learned how to transform table into useful analytics for various departments.
        This experience marked a turning point, shaping my interest in data-driven solutions and paving the way for my transition into the world of software engineering.
    </p>
    
    <p>
        My journey in the tech realm began with a Bachelor's degree in Computer Science from Oregon State University, where I continued my curiosity journey with data.
        Over the years, I've honed my skills as a Software Engineer, specializing in a variety of technologies ranging from backend tecnologies like PostgreSQL, GraphQL, AWS, and Azure to front end technologies like  Ruby on Rails to TypeScript/JavaScript.
        At RNWBL LLC, I led transformative projects, optimizing system performance, and creating robust APIs. This journey has not only shaped my technical prowess but has instilled in me a passion for finding creative solutions to complex problems.
    </p>

    <h2>Beyond the Code</h2>
    
    <p>
        Away from the keyboard, you'll find me embracing an active lifestyle.
        CrossFit and tennis are my go-to outlets for staying fit and challenging myself physically.
        The rush of pushing boundaries in the gym or on the tennis court brings a different kind of satisfaction and balance to my life.
    </p>

    <h2>The Joy of Companionship</h2>
    
    <p>
        In the non-digital realm, I share my home with two adorable feline friends who bring an abundance of joy and laughter.
        Their antics provide a delightful contrast to the structured world of coding.
        Alongside my two cats, I share my life with my wonderful boyfriend, who has been my partner in crime for the past six years.
        His support and understanding have been a cornerstone of my personal and professional growth.
    </p>

    <h2>Life Outside the Lines</h2>
    
    <p>
        When not immersed in lines of code, I'm often exploring the vibrant Houston scene, trying out new restaurants, or attending tech meetups.
        I believe in a holistic approach to life, where both professional and personal passions coexist harmoniously.
    </p>

    <p>
        Join me on this journey through the digital and real-world landscapes as I navigate the ever-evolving tech industry,
        share insights, and embrace the multifaceted aspects of life.
        I'm excited to connect with you and share the experiences that shape my world!
    </p>

    <p>
        Thank you for learning alittle bit about me. I would love to learn more about me. 
        Please contact me using one of the links below:
    </p>


    <div class="mt-4">
        <h3>Contact Information</h3>
        <p><a href="mailto:npsheth93@live.com" target="_blank">Email Me</a></p>
        <p><a href="https://www.linkedin.com/in/nirav-sheth978" target="_blank">LinkedIn</a></p>
        <p><a href="https://github.com/nervster" target="_blank">GitHub</a></p>
    </div>
</div>

